.cart-dropdown {
    position: absolute;
    top: 90px;
    right: 40px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 340px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    z-index: 5;

    .cart-items {
        display: flex;
        flex-direction: column;
        height: 240px;
        overflow: scroll;

        &--empty {
            margin: 50px auto;
            font-size: 18px;
        }
    }

    button {
        margin-top: auto;
    }
}