.cart-icon {
    position: relative;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    cursor: pointer;

    .shopping-icon {
        width: 42px;
        height: 42px;
    }

    .item-count {
        position: absolute;
        bottom: 8px;
        font-size: 14px;
        font-weight: bold;
    }
}