.collection-page {
    .title {
        margin: 0 0 20px;
        font-size: 38px;
        text-align: center;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
    }

    .collection-item {
        margin-bottom: 30px;
    }
}